---
layout: default
title : Projects
navbar_title: Projects
---
<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-gears"></i> 主持项目（国家级）
    </h6>
    <div class="px-3 pb-1">
        <style>
            .list-unstyled li {
                display: flex; /* 使用flex布局，使内容在一行显示 */
                align-items: flex-start; /* 对齐顶部 */
                margin-top: 5px; /* 调整每行之间的间距 */
            }
            .list-unstyled li span {
                margin-right: 8px; /* 调整编号与内容的间距 */
            }
            .custom-hr {
                border: none;
                border-top: 1px solid #ddd; /* 分割线样式 */
                width: 100%; /* 分割线与父级宽度一致 */
                margin: 8px 0; /* 调整分割线上下间距 */
            }
        </style>
        <ul class="list-unstyled">
            {% assign papers = site.data.projects_zhuchi_guojia %}
            {% for paper in papers %}
            <li>
                <span class="font-weight-bold">[{{ forloop.index }}]</span> {{ paper.content | markdownify }}
            </li>
            {% endfor %}
        </ul>
        <!-- 添加分割线 -->
        <hr class="custom-hr full-width">
    </div>
    
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-gears"></i> 主持项目（省部级）
    </h6>
    <div class="px-3 pb-1">
        <style>
            .list-unstyled li {
                display: flex; /* 使用flex布局，使内容在一行显示 */
                align-items: flex-start; /* 对齐顶部 */
                margin-top: 5px; /* 调整每行之间的间距 */
            }
            .list-unstyled li span {
                margin-right: 8px; /* 调整编号与内容的间距 */
            }
        </style>
        <ul class="list-unstyled">
            {% assign papers = site.data.projects_zhuchi_shengbu %}
            {% for paper in papers %}
            <li>
                <span class="font-weight-bold">[{{ forloop.index }}]</span> {{ paper.content | markdownify }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
