---
layout: default
title : Recruit
navbar_title: Recruit
---
<div class="my-3 bg-white shadow-sm rounded-sm">
    <style>
        .custom-hr {
            border: none;
            border-top: 1px solid #ddd; /* 分割线样式 */
            width: 100%; /* 分割线与父级宽度一致 */
            margin: 6px 0; /* 调整分割线上下间距 */
        }
    </style>
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fa-solid fa-flask"></i> 研究生招生信息
    </h6>
    <div class="px-3 pb-0">
        <style>
            .list-unstyled li {
                display: flex; /* 使用flex布局，使内容在一行显示 */
                align-items: flex-start; /* 对齐顶部 */
                margin-top: 5px; /* 调整每行之间的间距 */
            }
            .list-unstyled li span {
                margin-right: 8px; /* 调整编号与内容的间距 */
            }
        </style>
        <ul class="list-unstyled">
            {% assign papers = site.data.recruit_stu %}
            {% for paper in papers %}
            <li>
                {{ paper.content | markdownify }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- 分割线 -->
    <hr class="custom-hr">

    <!-- 博士后招聘信息 -->
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-briefcase"></i> 博士后招聘信息
    </h6>
    <div class="px-3 pb-0 recruit-section">
        {% assign recruit_posts = site.data.recruit_post %}
        {% for post in recruit_posts %}
        <!-- 一级标题 -->
        <h6>{{ post.title }}</h6>
        <ul>
            {% for item in post.content %}
                <!-- 检查是否为嵌套子列表 -->
                {% if item contains '- ' %}
                <li>
                    {{ item | markdownify }}
                    <ul>
                        {% assign sub_items = item | split: ' - ' | last | split: ';' %}
                        {% for sub_item in sub_items %}
                        <li>{{ sub_item | strip }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li>{{ item | markdownify }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <hr class="custom-hr">
        {% endfor %}
    </div>
</div>
