---
layout: default
title : Studies
navbar_title: Studies
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.studies | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="my-3 bg-white shadow-sm rounded-sm">
    <div class="px-3 pb-1">
        <!-- 遍历所有 studies 集合 -->
        {% assign studies = site.studies %}
        {% for publication in studies %}
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            <div class="d-flex flex-column p-3">
                <h5 class="font-weight-normal">{{ publication.title }}</h5>
                <p class="small mb-1 text-muted">{{ publication.authors | join: ", " }}</p>
                <p class="small mb-2">{{ publication.pub }} {{ publication.pub_date }}</p>
                {% if publication.abstract %}
                <p style="color: black;">
                    {{ publication.abstract }}
                    {% if publication.links %}
                        {% for link in publication.links %}
                            {% if link.first == "Paper" %}
                                <a href="{{ link.last }}" target="_blank">[{{ link.first }}]</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
                {% endif %}
                {% if publication.cover %}
                <img src="{{ publication.cover | relative_url }}" alt="{{ publication.title }}" class="rounded-sm mt-2 mx-auto block" style="max-width: 50%;">
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>
