<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <h6 class="p-3 mb-0 border-bottom border-gray">
                <i class="fa-solid fa-briefcase"></i> 教育和科研经历
            </h6>
            <div class="card-body p-4">
                {% if site.data.profile.education %}
                <div class="row text-center justify-content-between">
                    {% for item in site.data.profile.education limit:5 %}
                    <div class="col-2 d-flex flex-column align-items-center">
                        <div>
                            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 80%;" class="mb-2">
                            <div>
                                <div>{{ item.name }}</div>
                                <div class="small text-muted">{{ item.dept }}</div>
                                <div class="small text-muted">{{ item.position }}</div>
                                <div class="small text-muted"><em>{{ item.date }}</em></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!--     <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> 教育和科研经历</h6> -->
