<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-book"></i> 部分发表论文
    </h6>
    <div class="px-3 pb-1">
        <table class="table table-bordered table-striped">
            <tbody>
                {% assign papers = site.news | where: "title", "发表论文" %}
                {% for paper in papers %}
                {% assign lines = paper.content | split: "\n" %}
                {% for line in lines %}
                {% assign columns = line | split: "|" %}
                {% unless columns[1] == "" or columns[2] == "" %}
                <tr>
                    <td>{{ columns[2] | strip }}</td>
                </tr>
                {% endunless %}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
